#quote {
    border: 1px solid #adadad;
    background: #fafafa none repeat-x;
    box-shadow: 2px 2px 9px #cfcfcf;
    border-radius: 10px;
    border: 1px solid #adadad;
    margin: 12px 22px;
    padding: 2px 18px 20px;
}

.sa-emote {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(255,255,255,.80));
}
